extends home.pug
block content
	div
        h3 #{portfolioTitle}
        p #{portfolioContent}
    each project in projects
        div(class='project-item')
            p Name: 
                span= project.name
            p Url: 
                span= project.friendlyUrl
            p Image link: 
                span= project.image
            p Live link: 
                span= project.livelink
            p Code Url: 
                span= project.codeUrl
            p Description: 
                span= project.description
            div(class='skill-box')
                each skill in project.skills
                    span(class='skill')= skill 